body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 18px;
}

.hero ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.top a, .hero p {
    font-size: 18px;
    color: #E5E7EB;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 95px;
    padding-right: 200px;
}

.hero {
    margin: 100px;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

#hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}